<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
        <title>Shopping list</title>
    </head>

    <body>
       <div id="app2">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div>
                        <h1 class="center">{{ heading }}</h1>
                    </div>
                </div>
                <div>
                    <div class="col s5 m5 l5"></div>
                    <div class="col s2 m2 l2 centered" >
                        <input v-validate="'alpha_num'" name="alpha_num_field" type="text" class="item-input" placeholder="Type here" v-model="newItem" @keyup.enter="addItem" >
                    </div>

                    <div v-for="(item, index) in items" :key="item.id" class="shopping-item col s12 m12 l12 center flow-text">
                        <div class="col s2 m2 l2"></div>
                        <ul class="collection col s8 m8 l8">
                            <li class="collection-item"><div>{{item.id}}  {{item.name}}<a href="#!" class="secondary-content"><i class="material-icons" @click="removeItem(index)">&times;</i></a></div></li>
                        </ul>
                    </div>
                </div>   
            </div>
        </div>
        
          
        <script>
            Vue.use(VeeValidate);
            "use strict"
        
                var app2 = new Vue({
                el: '#app2',
                data: {
                        heading: "Memo",
                        newItem:{
                                id: '',
                                name: ''
                        },
                        idForItem: 5,
                        items:[
                            {
                                id: 'ID',
                                name: 'Name'                   
                            },
                        ]
                    },
                    methods:{
                        addItem(){
                            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                            if (this.newItem.trim().length == 0) {
                                    return
                                }
                            this.items.push({
                                id: this.idForItem,
                                name: this.newItem
                            })
                            this.newItem = ''
                            this.idForItem++
                        },
                        removeItem(index){
                            this.items.splice(index, 1)
                        }
                    }
                });

        </script>
    </body>
</html>